<div id="site">
<h2>Images from "<%= @path %>"</h2>
<h3>Sorted best to worst</h3>

<% for image in @images %>
<div class="picture">
<p> <% if image.hits > 0 %><%= image.points/image.hits %><% else %>0<% end %> out of 10 | <%= image.hits %> reviewers</p>
<a class="image"  href="/<%= image.path %>"><img width="180px" src="/<%= image.thumb %>" /></a> 
<div class="voting buttons">
	<a class="green"  href="/miller/vote/?path=<%= image.path %>&points=10">really good</a>
	<a class="yellow" href="/miller/vote/?path=<%= image.path %>&points=5">just ok</a>
	<a href="/miller/vote/?path=<%= image.path %>&points=0">not useful</a>
</div>
</div>
<% end %>
</div>
