<div id="site">
<canvas style="margin-top:10px;height:120px;float:left;margin-right:10px;" id="bars"></canvas>
<% unless params[:filter] %><h2>Images from "<%= params[:site] %>"</h2><% end %>
<% if params[:filter] == "unsorted" %><h2>Unsorted images from "<%= params[:site] %>"</h2><% end %>
<p>
	<i>Sorted best to worst</i> | 
	<a href="/sort/<%= params[:site] %>">sort only this site</a> | 
	<% unless params[:filter] %><a href="/images/<%= params[:site] %>/unsorted">view unsorted from this site</a><% end %>
	<% if params[:filter] == "unsorted" %><a href="/images/<%= params[:site] %>">view all from this site</a><% end %> 
</p>
<script>
//http://willarson.com/code/sparklines/sparklines.html
var opts = {'scale_from':-1};
var data = [<%= @site.vote_bars * "," %>]
sparkline = new BarSparkline('bars', data, opts)
//sparkline.stroke = "rga(100,100,100,.7);"
sparkline.draw()
</script>
<p>
(<%= @site.images.length %> images, <%= @site.average %>/100 average, ~<%= @site.average_votes %> votes per image, <%= @site.percent_complete %> have votes, &gt;<%= @site.participants.length %> participants)
</p>

<%= will_paginate @images %>
<br style="clear:both;" />

<% for image in @images %>
<div class="picture">
<p> <% if image.hits > 0 %><%= image.points/image.hits %><% else %>0<% end %> out of 10 | <%= image.hits %> reviewers</p>
<a class="image" target="_blank" href="/sites/<%= image.site.name+"/"+image.filename %>"><img id="image_<%= image.id %>" width="180px" src="<%= image.thumb %>" /></a> 
<script>
$('image_<%= image.id %>').onmouseover = function() {
	console.log('hover')
	$('image_<%= image.id %>').src = "/mapper/fullsize_thumb/<%= image.id %>"
}
$('image_<%= image.id %>').onmouseout = function() {
	console.log('hover')
	$('image_<%= image.id %>').src = "<%= image.thumb %>"
}
</script>

<div class="voting buttons" id="buttons-<%= image.id %>">

	<a class="green"  href="javascript:void()" onClick="vote(<%= image.id %>,10,'<%= params[:site] %>')">+</a>
	<a class="yellow" href="javascript:void()" onClick="vote(<%= image.id %>,5,'<%= params[:site] %>')">~</a>
	<a href="javascript:void()" onClick="vote(<%= image.id %>,0,'<%= params[:site] %>')">-</a>
<!--	<a class="green"  href="/vote/<%= image.id %>/10/<%= params[:site] %>">+</a>
	<a class="yellow" href="/vote/<%= image.id %>/5/<%= params[:site] %>">~</a>
	<a href="/vote/<%= image.id %>/0/<%= params[:site] %>">-</a>
-->

</div>
</div>
<% end %>

<br style="clear:both;" />
<%= will_paginate @images %>
</div>
