<div id="sites-page">

<h2>Sites</h2>
<p>Click a site below to view the best images from that set:</p>

<div id="sites-list"> 

<% for site in @sites %>
<div>
	<a href="/images/<%= site.name %>"><%= site.name %></a> 
	(<%= site.images.length %> images, <%= site.average %>/10 average score)
	 | <a href="/sort/<%= site.name %>">sort only this site</a>
	 | <a href="/locate/site/<%= site.name %>">place this on a map</a>
</div>
<% end %>

</div>
</div>
