<div id="sites-page">

<h2>Sites</h2>
<p>Click a site below to view the best images from that set:</p>

<div id="sites-list"> 

<% for site in @sites %>
<div>
	<a href="/images/<%= site.name %>"><%= site.name %></a> 
	(<%= site.images.length %> images, <%= site.average %>/100 average, <%= site.percent_complete %> done)
	 | <a href="/sort/<%= site.name %>">sort this site</a>
<!--	 | <a href="/locate/site/<%= site.name %>">place this on a map</a>-->
</div>
<% end %>

</div>

<div>
<p>
MapMill is open source - download the code or contribute <a href="http://github.com/jywarren/mapmill">on Github</a>. That's also a good place to report bugs.
</p>
<p>
MapMill is produced and maintained by <a href="http://publiclaboratory.org">The Public Laboratory</a>.
</p>
</div>

</div>
