<%= form_for :site, url: sites_path, remote: true, :html => { :id => "site_form"} do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <p>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
      <%= f.text_field :name, :class => 'form-control', :placeholder => "New site name" %>
    </div>
  </p>
  <p>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      <%= f.text_field :date, :class => 'form-control datepicker', :placeholder => "Date" , :style => "padding-left: 12px !important"%>
    </div>
  </p>
  <p>
    <%= f.text_area :description, :rows => 6, :class => 'form-control', :placeholder => "Description"%>
  </p>

<% end %>
  <p>
    <%= button_tag "Begin", :id => 'login_via_open_id_btn', :class => "btn btn-primary form-control" %>
  </p>
