<%= form_for :site, url: sites_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
   <p>
    <%= f.submit %>
  <!--
  <img id="create_site" onclick='openPopupWindow("http://publiclaboratory.org/people/faboolous/identity")' src="save.png">
-->
  </p>

<% end %>
