<div class="site_list row">
<% @sites.each do |site| %>
  <% site.images.take(1).each do |img| %>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <p><a href="/sites/<%= site.id %>"><img src="<%= img.thumbnail %>" class='img-rounded' /></a></p>
        <h3><a href="/sites/<%= site.id %>/"><%= site.name %></a></h3>
        <p><%= site.images.count %> images</p>
      </div>
  <% end %>
<% end %>
</div>
