<% 
  upload_more_button = "<a href='/sites/#{@site.id}/upload'><button class='btn-lg btn-success'><i class='fa fa-arrow-circle-up fa-lg'></i> Upload <span class='hidden-xs'>images</span></button></a>"
  log_in_message = 'You must be <a href="/show_login">logged in</a> to add images'
  fullscreen_button = '<button class="btn-lg btn-primary" id="full-screen"><i class="fa fa-square-o fa-lg"></i> Full screen</button>'
%>
<div class='well well-white'>
  <div class='row sites-show-well-top'>
  
    <div class='col-sm-3'>
      <h3>How to sort</h3>
      <p>Rate each image based on the level of damage.</p>
      <p><a href="#">See an example</a></p>
    </div>
    
    <div class='col-sm-3 hidden-xs'>
      <h3>Add images</h3>      
      <%= upload_more_button.html_safe %>
      <% unless logged_in? %><p><small><%= log_in_message.html_safe %></small></p><% end %>
    </div>
    
    <div class='col-sm-3 hidden-xs'>
      <h3>Powersort!</h3>
      <%= fullscreen_button.html_safe %>
      <p><small>Use hotkeys 1, 2, &amp; 3 to sort</small></p>
    </div>
    
    <div class='col-sm-3 hidden-xs'>
      <h3>Map</h3>
      <button onclick="window.location = '/sites/<%= @site.id %>/map'" id="show_map" class="btn-lg btn-success"><i class="fa fa-map-marker"></i> View map</button>
      <p><small>See geocoded images (if any) <br />displayed on a map</small></p>
    </div>

  </div>
</div>

<div class="sites-show-well-mobile hidden-sm hidden-md hidden-lg">
  <%= upload_more_button.html_safe %>
  <%= fullscreen_button.html_safe %>
  <button onclick="window.location = '/sites/<%= @site.id %>/map'" id="show_map" class="btn-lg btn-success"><i class="fa fa-map-marker"></i> Map</button>
  <% unless logged_in? %><p><%= log_in_message.html_safe %></p><% end %> 
</div>
<hr />

<div class="site_information">
  <%= hidden_field_tag 'site_id', @site.id %>
</div>

<!--<div class="alert alert-info" role="alert">
    Use arrow keys, j/k, 1,2,3
</div>-->

<div id="select_first" class="alert alert-warning" role="alert" style="display: none">
   You have tried to change a rating without selecting an image! Please select an image first.
</div>

<h2><%= @site.name %> <small><%= @site.images.count %> images
  <% if params[:sort] == 'rank' %>&nbsp; <a href="/sites/<%= @site.id %>">by upload order</a><% else %>
  &nbsp; <span>by upload order</span><% end %> 
  <% unless params[:sort] == 'rank' %>| <a href="/sites/<%= @site.id %>?sort=rank">by rank<span class="hidden-xs">ing</span></a><% else %> 
  | <span>by rank<span class="hidden-xs">ing</span></span><% end %> 
  <!--| <a href="">by <span class="hidden-xs"># of </span>votes</a></span>-->
  </small></h2>

<br />

<div class="site_details">
  <div id="links" class="row">
    <% @images.each do |img| %>
      <% 
        voting_disabled = "" 
        btn_disabled = ""
        votes_for_img = @votes[img.id]
        votes_for_img.each do | v |
          if v.cookie == @cookie
            voting_disabled = "voting_disabled"
            btn_disabled = "btn_disabled"
          end
        end
      %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="<%= img.url %>" title="" data-gallery >
          <div class="thumbnail" style="background-image: url('<%= img.thumbnail %>');">
            <%= hidden_field_tag 'img_' + img.id.to_s , img.id %>
          </div>
        </a>
        <div class="image_controls">
          <div class="row <%= voting_disabled %>" style="width:100%">
          
            <div class="col-xs-3">
              <button id="btn_good_<%= img.id %>" type="button" class="btn btn-success <%= btn_disabled %>">
                none
              </button>
            </div>
            <div class="col-xs-3 ">
              <button id="btn_nok_<%= img.id %>" type="button" class="btn btn-primary <%= btn_disabled %>">
                some
              </button>
            </div>
            <div class="col-xs-3">
              <button id="btn_bad_<%= img.id %>" type="button" class="btn btn-danger <%= btn_disabled %>">   
                heavy
              </button>
            </div>
            <div class="col-xs-3">
              <p style="font-size:12px;padding:2px 6px;color:#444;text-align:center;">
                <small><span title="Vote count/average"><%= img.vote_count %>:<%= img.average_vote %>%</span><br />
                <a title="Download full resolution image" href="<%= img.url %>" style="color:#444;"><i class="fa fa-download"></i></a>
              </small></p>
            </div>
            
          </div><!-- row -->
        </div><!-- image_controls -->
      </div><!-- bootstrap grid cell --> 
    <% end %>
  </div><!-- links row -->
</div><!-- site_details -->
<div class="pagination-parent">
 <%= will_paginate @images, renderer: BootstrapPagination::Rails if @images != [] %>
</div>
<%= render :partial => 'sites/fullscreen' %>
