<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mapmill - by Publiclab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"  rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='/assets/datepicker3.css' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="top" role="header">
    <div class="container">
     <div class="row">

      <div class="col-md-3 col-sm-3">
        <h1 class="page_title"><a href="/" class="title_link">MapMill</a></h1>
        <div class="page_sub_title">
          by PublicLab
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="site_desc">
          <h4 class="site_desc_title">Sort Images</h4>
          <h4 class="site_desc_title">Help Make Maps</h4>
          <div class="learn_more"><a href="http://publiclab.org/wiki/mapmill">Learn More >></a></div>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 session_info">
      <% if @user %>
        <div class="user_info">Logged in as <%= @user.email %><a class="logout" href="/logout">Logout</a></div>
      <% end %>
      </div>

     </div>
    </div>
  </header>
  <!--
  <hr>
  -->

  <div class="content container">
  
    <%= yield %>

  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/assets/bootstrap-datepicker.js"></script>
  <script src="/assets/jquery.knob.js"></script>
</body>
</html>
