<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mapmill - by Publiclab</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"  rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
-->
  <link href='/assets/datepicker3.css' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="top" role="header">
    <div class="container">
      <div class="header">
        <h1 class="page_title"><a href="/">MapMill</a></h1> 
        <span class='hidden-xs'>by <a href="http://publiclab.org"> Public Lab</a></span>
        <span class='menu'> <a href="http://publiclab.org/wiki/mapmill">About</a>  |   <a href="/show_login">Login</a></span>
      </div>
      <div class='log-line'>Share and sort aerial photos collaboratively, then make maps using <a href="http://mapknitter.org/">MapKnitter.org</a></div>
      
    </div>
  </header>

  
  <!--
  <hr>
  -->

  <div class="content container">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-" + name, role:"alert" %>
    <% end -%>
    <%= yield %>

  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--
  <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script src="js/bootstrap-image-gallery.min.js"></script>
-->
</body>
</html>
