<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mapmill image sorting | Public Lab</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%# javascript_include_tag 'application', "data-turbolinks-track" => true  %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>

  <%= csrf_meta_tags %>
</head>
<body id="mapmill-<%= params[:controller] %>-<%= params[:action] %>">

  <header role="header">
    <div class="container">
      <div class="header">
        <h1 class="page_title"><a href="/">MapMill</a> <small class='hidden-xs'>by <a href="http://publiclab.org"> Public Lab</a></small></h1> 
	<span class='menu'> <a href="http://publiclab.org/wiki/mapmill">About</a>  
	<% if logged_in? %>	
          |   <a href="/logout">Log out</a></span>
	<% else %>	
          |   <a href="/show_login">Login</a></span>
	<% end %>	
      </div>
      <p>Share and sort aerial photos collaboratively, then make maps using <a href="http://mapknitter.org/">MapKnitter.org</a></p>
      
    </div>
  </header>

  <div class="content container">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-" + name, role:"alert" %>
    <% end -%>
    <%= yield %>

  </div>

  <% if content_for?(:footer) %>
    <%= yield(:footer) %>
  <% else %>
    <footer class="footer">
      <div class="row">
        <div class="col-md-3">
          <p>MapMill 2.0 is a project by <a href="http://publiclab.org">Public Lab</a>, and is <a href="https://github.com/publiclab/mapmill">open source software</a>.</p>
          <p>Please report bugs and help develop this software <a href="https://github.com/publiclab/mapmill/issues">on Github</a>.</p>
        </div>
        <div class="col-md-3">
          <p><a href="http://publiclab.org/wiki/mapmill">About MapMill</a></p>
          <p>Consider donating to help keep MapMill online: <a href="http://publiclab.org/donate">Donate to Public Lab</a></p>
        </div>
      </div>
    </footer>
  <% end %>
</body>
</html>
