<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mapmill image sorting | Public Lab</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%# javascript_include_tag 'application', "data-turbolinks-track" => true  %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>

  <%= csrf_meta_tags %>
</head>
<body class="map">

  <header role="header">
    <h1 class="page_title"><a href="/">MapMill</a> <small class='hidden-xs'>by <a href="http://publiclab.org"> Public Lab</a></small></h1> 
    <span class='menu'><a href="/sites/<%= @site.id %>">&laquo; Back to set</a> | <a href="http://publiclab.org/wiki/mapmill">About</a></span>
  </header>

  <%= yield %>

</body>
</html>
