<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mapmill image sorting | Public Lab</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <header class="top" role="header">
    <div class="container">
     <div class="row">

      <div class="col-xs-6 col-sm-4 col-md-3">
        <h1 class="page_title"><a href="/" class="title_link">MapMill</a></h1>
        <div class="page_sub_title">
          by PublicLab
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="site_desc">
          <h4 class="site_desc_title">Sort Images</h4>
          <h4 class="site_desc_title">Help Make Maps</h4>
          <div class="learn_more"><a href="http://publiclab.org/wiki/mapmill">Learn More >></a></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-6">
        <div class="action_wrapper">
          <%= link_to("Browse sites", sites_path, class: "header_action btn btn-success") %>
        </div>
      <% if @user %>
        <div class="user_info">Logged in as <%= @user.email %><a class="logout" href="/logout">Logout</a></div>
      <% end %>
      </div>

     </div>
    </div>
  </header>

  <%= yield %>


</body>
</html>
